/*
btn #a24e4e
title-about #987490 
background-geral #fff7f7
bg-faded #e4d6d6
*/

body {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff7f7;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:active {
    color: #2937f0;
}

#mainNav .navbar-toggler {
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
    padding-top: 2vh;
    color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #6c757d;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #2937f0;
}

#user-area {
    display: flex;
}

#mainNav #user-area i {
    font-size: 2rem;
}

header {
    padding-top: 3rem;
}

.page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .container-sm,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1320px;
    }
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-sm,
.navbar>.container-md,
.navbar>.container-lg,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

/* banner 1 */

.clearfix::after {

    display: block;
    clear: both;
    content: "";
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*.section-heading {
    text-transform: uppercase;
}*/

.section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
}

.section-heading .section-heading-lower {
    font-family: "Cormorant Garamond", serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
    display: block;
    font-size: 3rem;
    font-weight: 100;
}

.btn {
    font-family: "Cormorant Garamond", serif !important;
    font-weight: 900 !important;
    font-style: normal !important;
}

.btn-primary {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #a24e4e;
    --bs-btn-border-color: #a24e4e;
    --bs-btn-hover-color: #a24e4e;
    --bs-btn-hover-bg: #ffe2e2;
    --bs-btn-hover-border-color: #a24e4e;
    --bs-btn-focus-shadow-rgb: 196, 142, 73;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #a24e4e;
    --bs-btn-active-border-color: #a24e4e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #a24e4e;
    --bs-btn-disabled-border-color: #a24e4e;
}

.btn {
    box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.btn-xl {
    font-weight: 700;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-lg-0 {
    margin-bottom: 1rem !important;
}

.p-5 {
    padding: 3rem !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.rounded {
    border-radius: var(--bs-border-radius) !important;
}

.rounded-0 {
    border-radius: 0 !important;
}

.rounded-1 {
    border-radius: var(--bs-border-radius-sm) !important;
}

.rounded-2 {
    border-radius: var(--bs-border-radius) !important;
}

.rounded-3 {
    border-radius: var(--bs-border-radius-lg) !important;
}

.rounded-4 {
    border-radius: var(--bs-border-radius-xl) !important;
}

.rounded-5 {
    border-radius: var(--bs-border-radius-2xl) !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.rounded-pill {
    border-radius: var(--bs-border-radius-pill) !important;
}

.rounded-top {
    border-top-left-radius: var(--bs-border-radius) !important;
    border-top-right-radius: var(--bs-border-radius) !important;
}

.rounded-end {
    border-top-right-radius: var(--bs-border-radius) !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
}

.rounded-bottom {
    border-bottom-right-radius: var(--bs-border-radius) !important;
    border-bottom-left-radius: var(--bs-border-radius) !important;
}

.rounded-start {
    border-bottom-left-radius: var(--bs-border-radius) !important;
    border-top-left-radius: var(--bs-border-radius) !important;
}

.text-center {
    text-align: center !important;
}

.text-center p {
    text-align: center !important;
    font-family: "Mulish", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.bg-faded {
    background-color: #e4d6d6;
}

.intro {
    position: relative;
}

@media (min-width: 992px) {
    .intro .intro-img {
        width: 65%;
        float: right;
    }

    .intro .intro-text {
        left: 0;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
    }

    .intro .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
    }
}

@media (min-width: 1200px) {
    .intro .intro-text {
        width: 45%;
    }
}

.cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #a24e4e;
}

.cta-inner h2 {
    color: #a24e4e;
}

.cta .cta-inner {
    position: relative;
    padding: 3rem;
    margin: 0.5rem;
}

.cta .cta-inner:before {
    border-radius: 0.5rem;
    content: "";
    position: absolute;
    top: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    border: 0.25rem solid #e4d6d6;
    z-index: -1;
}

.col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
}

.mb-0 {
    margin-bottom: 0 !important;
}

/* terceira section */

@media (min-width: 992px) {
    .about-heading .about-heading-img {
        position: relative;
        z-index: 0;
    }

    .about-heading .about-heading-content {
        margin-top: -5rem;
        position: relative;
        z-index: 1;
    }
}

.col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

/* about */

#about-us {
    border: solid;
    border-color: #a24e4e;
    border-left: none;
    border-width: 0.1rem;
}

.title-about {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #987490;
    font-size: xx-large;
    background-color: #fff6f7;
    padding-top: 5rem;
}

@media (max-width: 745px) {
    .title-about {
        padding-top: 0;
    }
}

.text-about {
    color: #915f5e;
    padding-left: 2rem;
    background-color: #fff;
}

.title-box {
    padding-top: 2rem;
}

#small-text {
    font-size: smaller;
}

/* footer */

.footer {
    background-color: #a24e4e;
}

.contact-form h1 {
    font-family: "Cormorant Garamond", serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
    font-size: 4rem;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
}

.contact-form p {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

.contact-form .btn {
    --bs-btn-color: #987490;
    --bs-btn-bg: #e4d6d6;
    --bs-btn-border-color: #a24e4e;
    --bs-btn-hover-color: #a24e4e;
    --bs-btn-hover-bg: #ffe2e2;
    --bs-btn-hover-border-color: #a24e4e;
    --bs-btn-focus-shadow-rgb: 196, 142, 73;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #a24e4e;
    --bs-btn-active-border-color: #a24e4e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #a24e4e;
    --bs-btn-disabled-border-color: #a24e4e;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-family: "Mulish", sans-serif !important;
    font-weight: 700 !important;
}

.form-info {
    margin-top: 11rem;
}

@media (max-width: 768px) {
    .form-info {
        margin-top: 3rem;
    }
}

.form-info p{
    color: #fff;
}

.form-info #contact-email {
    margin-top: 3rem;
}

.form-info #contact-social p{
    margin-top: 3rem;
}

#footer-area {
    text-align: center;
    padding-top: 2.5rem;
}

#social-media-area .location {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    border: solid;
    border-width: 0.1rem;
    border-radius: 3rem;
}

#social-media-area .location:hover {
    text-decoration: underline;
    color: #e61414
}

#social-media-area .whatsapp {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    border: solid;
    border-width: 0.1rem;
    border-radius: 3rem;
}

#social-media-area .whatsapp:hover {
    text-decoration: underline;
    color: #25D366
}

#social-media-area .facebook {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    border: solid;
    border-width: 0.1rem;
    border-radius: 3rem;
}

#social-media-area .facebook:hover {
    text-decoration: underline;
    color: rgb(0, 79, 159);
}

#social-media-area .x {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    border: solid;
    border-width: 0.1rem;
    border-radius: 3rem;
}

#social-media-area .x:hover {
    text-decoration: underline;
    color: #000000
}

#social-media-area .instagram {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    border: solid;
    border-width: 0.1rem;
    border-radius: 3rem;
}

#social-media-area .instagram:hover {
    text-decoration: underline;
    color: #ff2d81
}

#copy {
    text-align: center;
    margin-top: -4rem;
}

#dev-media-area .black {
    font-weight: bold;
    color: #444;
    text-decoration: none;

}

#dev-media-area .black:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

#dev-media-area .blue {
    font-weight: bold;
    color: #444;
    text-decoration: none;

}

#dev-media-area .blue:hover {
    text-decoration: underline;
    color: rgb(0, 79, 159);
}

#dev-media-area table {
    width: 60% !important;
    margin: auto;
}

#copy-area {
    margin: auto;
    background-color: #fff;
}

#copy-area p {
    margin-top: 1rem;
}

/* login e cadastrar */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

/* clients */

.clients-area {
    background-color: #e4d6d6;
    padding: 5rem;
}

.clients {
    text-align: center;
    border: solid;
    border-width: 0.1rem;
    border-color: #a24e4e;
    background-color: #fff;
    color: #a24e4e;
}

.clients p {
    margin: 4rem 1rem 2.5rem 1rem;
}

.clients h5 {
    margin-bottom: 4rem;
}

.title-client {
    text-align: center;
    color: #a24e4e;
}

/* products */

.title-products {
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.row #product-back {
    margin-top: 2vh;
}

.title-products h6 {
    margin-left: 1rem;
    color: #a24e4e;
    font-size: 2rem;
}

.product-item img {
    max-width: 50vh;
}

.image-product {
    position: relative;
    text-align: center;
}

.image-container {
    position: relative;
    display: inline-block;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.text-overlay p {
    font-family: "PT Serif", serif;
    font-size: medium;
    margin-left: -5rem;
    font-style: normal;

}

.text-overlay h6 {
    font-family: "Cormorant Garamond", serif !important;
    font-style: normal !important;
    font-size: 2rem;
    margin-left: -5rem;
}

/*teste*/
@media (min-width: 1080px) {
    .product-item img {
        max-width: 40vh;
    }
}
/*teste*/
@media (min-width: 766px) {
    .product-item img {
        max-width: 50vh;
    }
}

@media (min-width: 992px) {
    .product-item .product-item-title {
        position: relative;
        z-index: 1;
        margin-bottom: -3rem;
    }

    .product-item .product-item-img {
        position: relative;
        z-index: 0;
        max-width: 60vw;
    }

    .product-item .product-item-description {
        position: relative;
        z-index: 1;
        margin-top: -3rem;
        max-width: 50vw;
    }
}

.d-flex {
    display: flex !important;
}

.ms-auto {
    margin-left: auto !important;
}

.section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
}

.me-auto {
    margin-right: auto !important;
}